body {
    font-family: sans-serif;
    background-image: url("assets/2413176.jpg");
    background-color: rgb(197, 175, 147);
    margin: 5%;
}
    
.input-field {
    background-color: transparent;
    width: 40%;
    border-radius: 10px;
    margin: 1%;
    text-align: center;
    color: black;
    
}
    
.sheet {
    border-radius: 10px;
    justify-content: center;
    width: 700px;
    margin: auto;
    padding: 15px;
    border: 5px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap
}

.sheet p {
    display: flex;
    width: 300px;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.area {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.box{
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
}

.left {
    width: 33.3%;
    margin: 0 !important;
}

.right{
    margin:auto;
    justify-content: center;
}

.right img {
    width:100%;
    max-width: 300px;
    height:auto;
    border: solid black;
    border-radius: 10px;
    justify-content: center;
}


.value {
    margin-left: 0 !important;
    padding: 0;
    height: 15.9%;
}

.info {
    margin: 1%;
    width: 48% !important;
    height: 10% !important;
}

#greenDragon{
    justify-content: center;
    align-content: center;
}

#greenDragon img {
    width:100%;
    max-width: 500px;
    height:auto;
}

#redDragon {
    width:100%;
    max-width: 500px;
    height:auto;
    justify-content: center;
    align-content: center;
}

.charSec {
    display: flex;
    justify-content: center;
    align-items: center;
}