*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 5px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: rgb(14, 6, 6);
}
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-image: url("assets/2413176.jpg");
  background-color: rgb(197, 175, 147);
}

.disc {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin: 5px 40px 5px 40px;
    padding: 20px
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(292, 15%, 20%);
  text-decoration: underline;
}

.card {
  border-radius: 25px;
  border-width: 1px;
  color: hsl(294, 9%, 44%);
  font-size: 18px;
  padding: 20px 30px;
}

.card-body {
  min-height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;

}

.card-footer {
  text-align: center;
}


.mission {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: auto;
  padding: 30px;
  border: 5px solid black;

}

#generate-link {
  margin: 15px;
  padding: 15px;
}

#generate-link img { 
  width: 200px;
  height: 200px;
  border-radius: 150px;
  justify-content: 100px;
}

.link-text {
  background-color:rgb(179, 16, 16);
  color: whitesmoke;
  border-radius: 5px;
}

#build-link {
  margin: 15px;
  padding: 15px;
}

#build-link img {
  width: 200px;
  height: 200px;
  border-radius: 150px;

}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}